---
import Layout from "../layouts/Layout.astro";
import ResearchersSection from "../components/ResearchersSection.astro";
import ClinicalExpertsSection from "../components/ClinicalExpertsSection.astro";
import TechTeamSection from "../components/TechTeamSection.astro";
import OperatingOfficersSection from "../components/OperatingOfficersSection.astro";
---

<Layout title="Team | Siena Clinical" description="Team - Siena Clinical">
  <main class="w-full min-h-screen pt-16 pb-24">
    <div class="max-w-7xl mx-auto px-6">
      <ResearchersSection />
      <ClinicalExpertsSection />
      <TechTeamSection />
      <OperatingOfficersSection />
    </div>
  </main>
</Layout>

