---
import UpskillingCourses from "./UpskillingCourses.astro";
import UpskillingCTA from "./UpskillingCTA.astro";
import UpskillingTestimonials from "./UpskillingTestimonials.astro";
---

<div class="w-full">
  <UpskillingCourses />
  <UpskillingCTA />
  <UpskillingTestimonials />
</div>
